.wishes {
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 92px 0 48px;

    @include mediaOnTablet {
      padding: 92px 0 96px;
    }

    @include mediaOnDesktop-xl {
      padding: 92px 0 128px;
    }

    @include mediaOnDesktop-xl {
      justify-content: row;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;

    @include mediaOnTablet {
      max-width: 483px;
    }

    @include mediaOnDesktop {
      justify-content: space-between;
      max-width: none;
      margin-top: 70px;
    }
  }

  &__descr {
    width: 100%;
    max-width: 569px;

    @include mediaOnDesktop {
      width: 50%;
    }

    &--mw--593 {
      max-width: 593px;
    }
  }

  &__span {
    color: $color-main;
  }

  &__text {
    margin: 14px 0 0;

    @include mediaOnTablet {
      margin: 24px 0 0;
    }

    & > p {
      margin: 0;

      &:nth-child(2) {
        margin-top: 10px;

        @include mediaOnTablet {
          margin-top: 20px;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    margin-top: 26px;
    padding: 8px 24px;
    border: 1px solid $color-main;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
    text-decoration: none;
    transition: all $transition-duration-default;

    @include mediaOnTablet {
      margin-top: 34px;
      padding: 11px 32px 11px;
      font-size: 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-main;
      color: $color-white;
    }
  }

  &__img {
    width: 100%;
    height: 256px;
    order: -1;

    @include mediaOnTablet {
      height: 415px;
    }

    @include mediaOnDesktop {
      $margin-left-right: 40px;

      width: calc(50% - #{$margin-left-right});
      height: 476px;

      &:nth-child(2n) {
        order: 1;
        margin-left: #{$margin-left-right};
      }

      &:nth-child(odd) {
        margin-right: #{$margin-left-right};
      }
    }

    @include mediaOnDesktop-xl {
      $margin-left-right: 60px;

      width: calc(50% - #{$margin-left-right});
      height: 497px;

      &:nth-child(2n) {
        order: 1;
        margin-left: #{$margin-left-right};
      }

      &:nth-child(odd) {
        margin-right: #{$margin-left-right};
      }
    }
  }
}
