.container {
  max-width: 288px;
  margin: 0 auto;

  @include mediaOnTablet {
    max-width: 622px;

    &--romans {
      max-width: none;
    }
  }

  @include mediaOnDesktop {
    max-width: 1140px;
  }

  @include mediaOnDesktop-xl{
    max-width: 1400px;
  }
}
