.container {
  max-width: 100%;
  margin: 0 auto;

  @include mediaOnTablet {
    max-width: 622px;
  }

  @include mediaOnDesktop {
    max-width: 1140px;
  }

  @include mediaOnDesktop-xl{
    max-width: 1400px;
  }
}
