.title {
  margin: 32px 0 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;

  @include mediaOnTablet {
    margin: 26px 0 0;
    font-size: 48px;
    line-height: 56px;
  }

  @include mediaOnDesktop {
    margin: 0;
  }

  @include mediaOnDesktop-xl {
    font-size: 56px;
    line-height: 64px;
  }

  &--mt--36 {
    margin-top: 36px;
  }
}
