.details-button {
  display: inline-block;
  margin-top: 26px;
  padding: 8px 24px;
  border: 1px solid $color-main;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
  text-decoration: none;
  transition: all $transition-duration-default;

  @include mediaOnTablet {
    margin-top: 34px;
    padding: 11px 32px 11px;
    font-size: 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-main;
    color: $color-white;
  }

  &--color--white {
    border: 1px solid $color-white;
    color: $color-white;
  }

  &--romans {
    margin-top: 17px;
    padding: 6px 32px 8px;
    text-align: center;

    @include mediaOnTablet {
      font-size: 16px;
    }
  }
}
