.details-button {
  display: inline-block;
  margin-top: 26px;
  padding: 8px 24px;
  border: 1px solid $color-main;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
  text-decoration: none;
  transition: all $transition-duration-default;

  @include mediaOnTablet {
    margin-top: 34px;
    padding: 11px 32px 11px;
    font-size: 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-main;
    color: $color-white;
  }

  &--color--white {
    border: 1px solid $color-white;
    color: $color-white;
  }

  &--gradient {
    position: absolute;
    bottom: -320px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 202px;
    margin-top: 0;
    border: none;
    background: linear-gradient(140deg,
    rgba(254,110,161,1) 0%,
    rgba(86,60,155,1) 65%
    );
    color: $color-white;

    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(rgba(254,110,161,1));
      color: $color-text;
    }

    @include mediaOnTablet {
      bottom: -270px;
    }

    @include mediaOnDesktop {
      bottom: -98px;
    }
  }

  &--romans {
    margin-top: 17px;
    padding: 6px 32px 8px;
    text-align: center;

    @include mediaOnTablet {
      font-size: 16px;
    }
  }
}
