@import './utils/fonts';
@import './utils/variables';
@import './common/container';
@import './common/title';
@import './components/logo';
@import './components/return-button';
@import './sections/promo';
@import './sections/wishes';

* {
  box-sizing: border-box;
}

.body {
  font-family: "Stem", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color-text;
}

.main {
  padding: 16px;
}
