@import './utils/fonts';
@import './utils/variables';
@import './utils/mixins';
@import './common/container';
@import './common/title';
@import './components/logo';
@import './components/return-button';
@import './sections/promo';
@import './sections/wishes';

* {
  box-sizing: border-box;
}

.body {
  font-family: "Stem", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-text;

  @include mediaOnTablet {
    font-size: 18px;
    line-height: 30px;
  }

  @include mediaOnDesktop-xl {
    font-size: 20px;
    line-height: 32px;
  }
}

.main {
  padding: 8px;

  @include mediaOnTablet {
    padding: 16px;
  }
}
