@import './utils/fonts';
@import './utils/variables';
@import './utils/mixins';
@import './common/container';
@import './common/title';
@import './components/logo';
@import './components/details-button';
@import './components/return-button';
@import './components/header';
@import './sections/wishes';
@import './sections/romans';

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.body {
  padding: 8px;
  font-family: "Stem", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-text;
  overflow-x: hidden;

  @include mediaOnTablet {
    padding: 16px;
  }

  @include mediaOnTablet {
    font-size: 18px;
    line-height: 30px;
  }

  @include mediaOnDesktop-xl {
    font-size: 20px;
    line-height: 32px;
  }
}
